[phases.setup]
nixPkgs = ["python312", "ffmpeg"]

[phases.install]
cmds = ["python -m venv /opt/venv && /opt/venv/bin/pip install -r requirements.txt"]

[phases.build]
cmds = []

[start]
cmd = "/opt/venv/bin/python server.py"
